<h1>Let's PLay PINGPONG Number!</h1>
<form action="show-result.cshtml" method="post">
  <label for="pingPong-number"></label>
  <input type="pingPong-number" name="pingPong-number" id="pingPong-number">
  <button type="submit" name="play">PLAY!</button>
</form>
